h1 {
    font-size: 150px !important;
    text-align: center;
    font-family: 'Playfair Display',
    serif;
    padding: 100px 0;
}
h3 {
    font-family: 'Playfair Display',
    serif;
}
.Dictionary {
    margin: 100px auto;
}
